body {
  min-height: 400px;
  padding-top: 55px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 0;
}

#breadcrumbs {
    margin-top: 6px;
}

/* overrides for panel */
form.autoform .panel { display: block; }

/* panels */
.panel-heading {
    font-size: 120%;
}

nav {
    margin-bottom: 0;
}

.panel .thumb {
    float: left;
    padding-right: 6px;
}

.panel .list .item {
    min-height: 60px;
}

/* Nav Bar */
.navbar {
    min-height: 55px;
    margin-bottom: 0px;
}

.navbar-fixed-top, .navbar-default {
    margin-bottom: 0px;
}

.dropdown-header {
    font-weight: bold;
    font-size: 110%;
    color: #000;
}

ul.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.list .item {
    border-bottom: solid 1px #ccc;
    margin-bottom: 6px;
}



p {
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    color: #5B5B5D;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 260%;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

/* Featured Items */

.featured {
    margin-top: 30px;
}

.featured li {
    margin-bottom: 10px;
}

.featured .thumb {
    float: left;
    padding-right: 8px;
}

.featured .title {
    font-size: 140%;
    margin-bottom: 6px;
}

.featured .summary {
    min-height: 80px;
}
.featured .item {
    clear: left;
}

.featured .module-head {
    color: #FF6600;
    font-weight: bold;
    font-size: 160%;
}


/* Footer */
.footer {
  clear: left;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  background-color: #5B5B5D;
}

.text-muted {
  color: #CCC;
}

.footer a{
    color: #CCC;
}

/* Delivery Page Download Link: */
.filedwnld { padding-left: 22px; margin-top: 20px; font-weight: bold; background-image: none; background-repeat: no-repeat; }
.filedwnld a { font-size: 130%;  text-decoration: underline; }
.filedwnld a:hover { text-decoration: underline; }
a.dwnldlink { background-image: none; }

.entry-image
{
    float: left;
    padding: 0 10px 10px 0;
}

.clear {
    clear: both;
}

.reg-form-panel {
    padding: 10px;
}

/* Registration Form */
.reg-form {
    padding: 10px;
    border-color: #ccc;
}

select + .form-control-feedback {
  padding-right: 38px;
}

.asset-image {
    float: left;
    padding: 0 10px 10px 0;
    margin-right: 20px
}

.asset-image img {
    max-width: 300px;
}

#file-info label {
    padding-left: 10px;
}

/* Form Page Bullets */
.form-page-content ul {
padding-left: 10px;
margin-left: 10px;
}

.form-page-content ul li {
margin-left: 20px;
padding-left:10px;
}

.asset-result {
border-bottom: solid 1px #ccc;
margin-bottom: 6px;
padding-bottom: 4px;
}