.breadcrumb > li > a {
	text-decoration: none;
}
img.thumbnail {
	background: none repeat scroll 0 0 #FFFFFF;
}

.image:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.image {
	-moz-box-sizing: border-box;
	border: 1px solid #DDDDDD;
	float: left;
	height: 150px;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
}

.image img {
	vertical-align: middle;
}

.delete {
	position:absolute;
	top:0;
	right:0;
	right: 5px;
	top: 0px;
	cursor: pointer;
	font-weight: bold;
}
 label.error{
  color :red;
  font-style: italic;
  font-weight: unset;
 }
 .multiselect-container {
    height: 200px;  
    overflow-x: hidden;
    overflow-y: scroll;  
}

/*.error{
	color : red;
}*/

/*************** Tile  Css *************/

.tile-stats {
  position: relative;
  display: block;
  background: #303641;
  padding: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.tile-stats:hover {
  background: #252a32;
}
.tile-stats .icon {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
}
.tile-stats .icon i {
  font-size: 100px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.tile-stats .icon i:before {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.tile-stats .num,
.tile-stats h3,
.tile-stats p {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
}
.tile-stats .num {
  font-size: 38px;
  font-weight: bold;
}
.tile-stats h3 {
  font-size: 18px;
  margin-top: 5px;
}
.tile-stats p {
  font-size: 11px;
  margin-top: 5px;
}
.tile-stats.tile-red {
  background: #f56954;
}
.tile-stats.tile-red:hover {
  background: #f4543c;
}
.tile-stats.tile-red .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-red .num,
.tile-stats.tile-red h3,
.tile-stats.tile-red p {
  color: #fff;
}
.tile-stats.tile-green {
  background: #00a65a;
}
.tile-stats.tile-green:hover {
  background: #008d4c;
}
.tile-stats.tile-green .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-green .num,
.tile-stats.tile-green h3,
.tile-stats.tile-green p {
  color: #fff;
}
.tile-stats.tile-blue {
  background: #0073b7;
}
.tile-stats.tile-blue:hover {
  background: #00639e;
}
.tile-stats.tile-blue .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-blue .num,
.tile-stats.tile-blue h3,
.tile-stats.tile-blue p {
  color: #fff;
}
.tile-stats.tile-aqua {
  background: #00c0ef;
}
.tile-stats.tile-aqua:hover {
  background: #00acd6;
}
.tile-stats.tile-aqua .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-aqua .num,
.tile-stats.tile-aqua h3,
.tile-stats.tile-aqua p {
  color: #fff;
}
.tile-stats.tile-cyan {
  background: #00b29e;
}
.tile-stats.tile-cyan:hover {
  background: #009987;
}
.tile-stats.tile-cyan .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-cyan .num,
.tile-stats.tile-cyan h3,
.tile-stats.tile-cyan p {
  color: #fff;
}
.tile-stats.tile-purple {
  background: #ba79cb;
}
.tile-stats.tile-purple:hover {
  background: #b167c4;
}
.tile-stats.tile-purple .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-purple .num,
.tile-stats.tile-purple h3,
.tile-stats.tile-purple p {
  color: #fff;
}
.tile-stats.tile-pink {
  background: #ec3b83;
}
.tile-stats.tile-pink:hover {
  background: #ea2474;
}
.tile-stats.tile-pink .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-pink .num,
.tile-stats.tile-pink h3,
.tile-stats.tile-pink p {
  color: #fff;
}
.tile-stats.tile-orange {
  background: #ffa812;
}
.tile-stats.tile-orange:hover {
  background: #f89d00;
}
.tile-stats.tile-orange .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-orange .num,
.tile-stats.tile-orange h3,
.tile-stats.tile-orange p {
  color: #fff;
}
.tile-stats.tile-brown {
  background: #6c541e;
}
.tile-stats.tile-brown:hover {
  background: #584418;
}
.tile-stats.tile-brown .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-brown .num,
.tile-stats.tile-brown h3,
.tile-stats.tile-brown p {
  color: #fff;
}
.tile-stats.tile-plum {
  background: #701c1c;
}
.tile-stats.tile-plum:hover {
  background: #5c1717;
}
.tile-stats.tile-plum .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-plum .num,
.tile-stats.tile-plum h3,
.tile-stats.tile-plum p {
  color: #fff;
}
.tile-stats.tile-gray {
  background: #f5f5f5;
}
.tile-stats.tile-gray:hover {
  background: #e8e8e8;
}
.tile-stats.tile-gray .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-gray .num,
.tile-stats.tile-gray h3,
.tile-stats.tile-gray p {
  color: #8f8f8f;
}
.tile-stats.tile-white {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white .num,
.tile-stats.tile-white h3,
.tile-stats.tile-white p {
  color: #303641;
}
.tile-stats.tile-white:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-red {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-red:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-red .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-red .num,
.tile-stats.tile-white-red h3,
.tile-stats.tile-white-red p {
  color: #f56954;
}
.tile-stats.tile-white-red:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-green {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-green:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-green .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-green .num,
.tile-stats.tile-white-green h3,
.tile-stats.tile-white-green p {
  color: #00a65a;
}
.tile-stats.tile-white-green:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-blue {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-blue:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-blue .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-blue .num,
.tile-stats.tile-white-blue h3,
.tile-stats.tile-white-blue p {
  color: #0073b7;
}
.tile-stats.tile-white-blue:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-aqua {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-aqua:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-aqua .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-aqua .num,
.tile-stats.tile-white-aqua h3,
.tile-stats.tile-white-aqua p {
  color: #00c0ef;
}
.tile-stats.tile-white-aqua:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-cyan {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-cyan:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-cyan .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-cyan .num,
.tile-stats.tile-white-cyan h3,
.tile-stats.tile-white-cyan p {
  color: #00b29e;
}
.tile-stats.tile-white-cyan:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-purple {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-purple:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-purple .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-purple .num,
.tile-stats.tile-white-purple h3,
.tile-stats.tile-white-purple p {
  color: #ba79cb;
}
.tile-stats.tile-white-purple:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-pink {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-pink:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-pink .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-pink .num,
.tile-stats.tile-white-pink h3,
.tile-stats.tile-white-pink p {
  color: #ec3b83;
}
.tile-stats.tile-white-pink:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-orange {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-orange:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-orange .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-orange .num,
.tile-stats.tile-white-orange h3,
.tile-stats.tile-white-orange p {
  color: #ffa812;
}
.tile-stats.tile-white-orange:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-brown {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-brown:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-brown .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-brown .num,
.tile-stats.tile-white-brown h3,
.tile-stats.tile-white-brown p {
  color: #6c541e;
}
.tile-stats.tile-white-brown:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-plum {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-plum:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-plum .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-plum .num,
.tile-stats.tile-white-plum h3,
.tile-stats.tile-white-plum p {
  color: #701c1c;
}
.tile-stats.tile-white-plum:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-gray {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-gray:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-gray .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-gray .num,
.tile-stats.tile-white-gray h3,
.tile-stats.tile-white-gray p {
  color: #8f8f8f;
}
.tile-stats.tile-white-gray:hover {
  background-color: #fafafa;
}
.tile-title {
  position: relative;
  display: block;
  background: #303641;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.tile-title:hover {
  background-color: #252a32;
}
.tile-title .icon {
  text-align: center;
  padding: 20px;
}
.tile-title .icon i {
  font-size: 60px;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.tile-title .icon i:before {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.tile-title .icon i,
.tile-title h3,
.tile-title p {
  color: #fff;
}
.tile-title .title {
  background: #252a32;
  text-align: center;
}
.tile-title .title h3,
.tile-title .title p {
  margin: 0;
  padding: 0 20px;
}
.tile-title .title h3 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.tile-title .title p {
  padding-bottom: 20px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-red {
  background: #f56954;
}
.tile-title.tile-red:hover {
  background-color: #f4543c;
}
.tile-title.tile-red .icon i,
.tile-title.tile-red h3,
.tile-title.tile-red p {
  color: #fff;
}
.tile-title.tile-red .icon i {
  color: #fff;
}
.tile-title.tile-red .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-red .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-green {
  background: #00a65a;
}
.tile-title.tile-green:hover {
  background-color: #008d4c;
}
.tile-title.tile-green .icon i,
.tile-title.tile-green h3,
.tile-title.tile-green p {
  color: #fff;
}
.tile-title.tile-green .icon i {
  color: #fff;
}
.tile-title.tile-green .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-green .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-blue {
  background: #0073b7;
}
.tile-title.tile-blue:hover {
  background-color: #00639e;
}
.tile-title.tile-blue .icon i,
.tile-title.tile-blue h3,
.tile-title.tile-blue p {
  color: #fff;
}
.tile-title.tile-blue .icon i {
  color: #fff;
}
.tile-title.tile-blue .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-blue .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-aqua {
  background: #00c0ef;
}
.tile-title.tile-aqua:hover {
  background-color: #00acd6;
}
.tile-title.tile-aqua .icon i,
.tile-title.tile-aqua h3,
.tile-title.tile-aqua p {
  color: #fff;
}
.tile-title.tile-aqua .icon i {
  color: #fff;
}
.tile-title.tile-aqua .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-aqua .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-cyan {
  background: #00b29e;
}
.tile-title.tile-cyan:hover {
  background-color: #009987;
}
.tile-title.tile-cyan .icon i,
.tile-title.tile-cyan h3,
.tile-title.tile-cyan p {
  color: #fff;
}
.tile-title.tile-cyan .icon i {
  color: #fff;
}
.tile-title.tile-cyan .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-cyan .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-purple {
  background: #ba79cb;
}
.tile-title.tile-purple:hover {
  background-color: #b167c4;
}
.tile-title.tile-purple .icon i,
.tile-title.tile-purple h3,
.tile-title.tile-purple p {
  color: #fff;
}
.tile-title.tile-purple .icon i {
  color: #fff;
}
.tile-title.tile-purple .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-purple .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-pink {
  background: #ec3b83;
}
.tile-title.tile-pink:hover {
  background-color: #ea2474;
}
.tile-title.tile-pink .icon i,
.tile-title.tile-pink h3,
.tile-title.tile-pink p {
  color: #fff;
}
.tile-title.tile-pink .icon i {
  color: #fff;
}
.tile-title.tile-pink .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-pink .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-orange {
  background: #ffa812;
}
.tile-title.tile-orange:hover {
  background-color: #f89d00;
}
.tile-title.tile-orange .icon i,
.tile-title.tile-orange h3,
.tile-title.tile-orange p {
  color: #fff;
}
.tile-title.tile-orange .icon i {
  color: #fff;
}
.tile-title.tile-orange .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-orange .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-brown {
  background: #6c541e;
}
.tile-title.tile-brown:hover {
  background-color: #584418;
}
.tile-title.tile-brown .icon i,
.tile-title.tile-brown h3,
.tile-title.tile-brown p {
  color: #fff;
}
.tile-title.tile-brown .icon i {
  color: #fff;
}
.tile-title.tile-brown .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-brown .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-plum {
  background: #701c1c;
}
.tile-title.tile-plum:hover {
  background-color: #5c1717;
}
.tile-title.tile-plum .icon i,
.tile-title.tile-plum h3,
.tile-title.tile-plum p {
  color: #fff;
}
.tile-title.tile-plum .icon i {
  color: #fff;
}
.tile-title.tile-plum .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-plum .title p {
  color: rgba(255, 255, 255, 0.85);
}
.tile-title.tile-gray {
  background: #f5f5f5;
}
.tile-title.tile-gray:hover {
  background-color: #e8e8e8;
}
.tile-title.tile-gray .icon i,
.tile-title.tile-gray h3,
.tile-title.tile-gray p {
  color: #8f8f8f;
}
.tile-title.tile-gray .icon i {
  color: #8f8f8f;
}
.tile-title.tile-gray .title {
  background: rgba(0, 0, 0, 0.1);
}
.tile-title.tile-gray .title p {
  color: rgba(143, 143, 143, 0.85);
}
.tile-block {
  background: #00a65b;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #303641;
  color: #fff;
}
.tile-block:before,
.tile-block:after {
  content: " ";
  display: table;
}
.tile-block:after {
  clear: both;
}
.tile-block .tile-header {
  color: #fff;
  font-size: 17px;
  padding: 20px;
}
.tile-block .tile-header a,
.tile-block .tile-header span {
  color: #fff;
}
.tile-block .tile-header span {
  display: block;
  margin-top: 4px;
  font-size: 11px;
}
.tile-block .tile-header i {
  float: right;
  font-size: 28px;
  position: relative;
  top: 4px;
}
.tile-block .tile-header i[class^="entypo-"] {
  top: 0;
}
.tile-block .tile-content {
  background: rgba(0, 0, 0, 0.03);
  padding: 20px;
}
.tile-block .tile-content .todo-list .neon-cb-replacement .cb-wrapper + label {
  top: -3px;
  margin-left: 8px;
}
.tile-block .tile-footer {
  background: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  color: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  border-radius: 0 0 5px 5px;
  background-clip: padding-box;
}
.tile-block .tile-footer a {
  color: #fff;
  font-weight: bold;
}
.tile-block .form-control,
.tile-block .btn {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
  border-color: transparent;
}
.tile-block .form-control::-moz-placeholder,
.tile-block .btn::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.tile-block .form-control:-ms-input-placeholder,
.tile-block .btn:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tile-block .form-control::-webkit-input-placeholder,
.tile-block .btn::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tile-block .form-control::-webkit-input-placeholder,
.tile-block .btn::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tile-block .form-control:-moz-placeholder,
.tile-block .btn:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tile-block .form-control::-moz-placeholder,
.tile-block .btn::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tile-block .form-control:-ms-input-placeholder,
.tile-block .btn:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tile-block .form-control + .todo-list,
.tile-block .btn + .todo-list {
  margin-top: 20px;
}
.tile-block .form-control + .btn {
  margin-top: 10px;
}
.tile-block .tile-header a,
.tile-block .tile-header span,
.tile-block .tile-header i {
  color: #fff;
}
.tile-block .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #303641;
}
.tile-block .tile-footer {
  color: #fff;
}
.tile-block .tile-footer a {
  color: #fff;
}
.tile-block.tile-red {
  background-color: #f56954;
  color: #fff;
}
.tile-block.tile-red .tile-header a,
.tile-block.tile-red .tile-header span,
.tile-block.tile-red .tile-header i {
  color: #fff;
}
.tile-block.tile-red .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #f56954;
}
.tile-block.tile-red .tile-footer {
  color: #fff;
}
.tile-block.tile-red .tile-footer a {
  color: #fff;
}
.tile-block.tile-green {
  background-color: #00a65a;
  color: #fff;
}
.tile-block.tile-green .tile-header a,
.tile-block.tile-green .tile-header span,
.tile-block.tile-green .tile-header i {
  color: #fff;
}
.tile-block.tile-green .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #00a65a;
}
.tile-block.tile-green .tile-footer {
  color: #fff;
}
.tile-block.tile-green .tile-footer a {
  color: #fff;
}
.tile-block.tile-blue {
  background-color: #0073b7;
  color: #fff;
}
.tile-block.tile-blue .tile-header a,
.tile-block.tile-blue .tile-header span,
.tile-block.tile-blue .tile-header i {
  color: #fff;
}
.tile-block.tile-blue .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #0073b7;
}
.tile-block.tile-blue .tile-footer {
  color: #fff;
}
.tile-block.tile-blue .tile-footer a {
  color: #fff;
}
.tile-block.tile-aqua {
  background-color: #00c0ef;
  color: #fff;
}
.tile-block.tile-aqua .tile-header a,
.tile-block.tile-aqua .tile-header span,
.tile-block.tile-aqua .tile-header i {
  color: #fff;
}
.tile-block.tile-aqua .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #00c0ef;
}
.tile-block.tile-aqua .tile-footer {
  color: #fff;
}
.tile-block.tile-aqua .tile-footer a {
  color: #fff;
}
.tile-block.tile-cyan {
  background-color: #00b29e;
  color: #fff;
}
.tile-block.tile-cyan .tile-header a,
.tile-block.tile-cyan .tile-header span,
.tile-block.tile-cyan .tile-header i {
  color: #fff;
}
.tile-block.tile-cyan .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #00b29e;
}
.tile-block.tile-cyan .tile-footer {
  color: #fff;
}
.tile-block.tile-cyan .tile-footer a {
  color: #fff;
}
.tile-block.tile-purple {
  background-color: #ba79cb;
  color: #fff;
}
.tile-block.tile-purple .tile-header a,
.tile-block.tile-purple .tile-header span,
.tile-block.tile-purple .tile-header i {
  color: #fff;
}
.tile-block.tile-purple .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #ba79cb;
}
.tile-block.tile-purple .tile-footer {
  color: #fff;
}
.tile-block.tile-purple .tile-footer a {
  color: #fff;
}
.tile-block.tile-pink {
  background-color: #ec3b83;
  color: #fff;
}
.tile-block.tile-pink .tile-header a,
.tile-block.tile-pink .tile-header span,
.tile-block.tile-pink .tile-header i {
  color: #fff;
}
.tile-block.tile-pink .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #ec3b83;
}
.tile-block.tile-pink .tile-footer {
  color: #fff;
}
.tile-block.tile-pink .tile-footer a {
  color: #fff;
}
.tile-block.tile-orange {
  background-color: #ffa812;
  color: #fff;
}
.tile-block.tile-orange .tile-header a,
.tile-block.tile-orange .tile-header span,
.tile-block.tile-orange .tile-header i {
  color: #fff;
}
.tile-block.tile-orange .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #ffa812;
}
.tile-block.tile-orange .tile-footer {
  color: #fff;
}
.tile-block.tile-orange .tile-footer a {
  color: #fff;
}
.tile-block.tile-brown {
  background-color: #6c541e;
  color: #fff;
}
.tile-block.tile-brown .tile-header a,
.tile-block.tile-brown .tile-header span,
.tile-block.tile-brown .tile-header i {
  color: #fff;
}
.tile-block.tile-brown .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #6c541e;
}
.tile-block.tile-brown .tile-footer {
  color: #fff;
}
.tile-block.tile-brown .tile-footer a {
  color: #fff;
}
.tile-block.tile-plum {
  background-color: #701c1c;
  color: #fff;
}
.tile-block.tile-plum .tile-header a,
.tile-block.tile-plum .tile-header span,
.tile-block.tile-plum .tile-header i {
  color: #fff;
}
.tile-block.tile-plum .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #701c1c;
}
.tile-block.tile-plum .tile-footer {
  color: #fff;
}
.tile-block.tile-plum .tile-footer a {
  color: #fff;
}
.tile-block.tile-gray {
  background-color: #f5f5f5;
  color: #767676;
}
.tile-block.tile-gray .tile-header a,
.tile-block.tile-gray .tile-header span,
.tile-block.tile-gray .tile-header i {
  color: #767676;
}
.tile-block.tile-gray .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #f5f5f5;
}
.tile-block.tile-gray .tile-footer {
  color: #767676;
}
.tile-block.tile-gray .tile-footer a {
  color: #767676;
}
.tile-block.tile-gray .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: #dcdcdc;
}
/******************** End Of Tile Section ******************/